<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10020" id="com.whitejaa.damage" version="Beta v0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VGC Damage Calculator</name>
    <description>
        Pokémon damage calculator designed for the VGC format.
    </description>
    <author email="squirrelboy1225@gmail.com" href="http://jake-white.github.io">
        Jake White
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="27" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon density="ldpi" height="48" platform="android" src="res/icon/android/48.png" width="48" />
    <icon density="mdpi" height="64" platform="android" src="res/icon/android/64.png" width="64" />
    <icon density="hdpi" height="72" platform="android" src="res/icon/android/72.png" width="72" />
    <icon density="xhdpi" height="96" platform="android" src="res/icon/android/96.png" width="96" />
    <icon density="xxhdpi" height="144" platform="android" src="res/icon/android/144.png" width="144" />
    <icon density="xxxhdpi" height="196" platform="android" src="res/icon/android/196.png" width="196" />
    <icon height="40" platform="ios" src="res/icon/ios/40.png" width="40" />
    <icon height="80" platform="ios" src="res/icon/ios/80.png" width="80" />
    <icon height="120" platform="ios" src="res/icon/ios/120.png" width="120" />
    <icon height="152" platform="ios" src="res/icon/ios/152.png" width="152" />
    <icon height="176" platform="ios" src="res/icon/ios/176.png" width="176" />
    <icon height="180" platform="ios" src="res/icon/ios/180.png" width="180" />
    <engine name="android" spec="^6.3.0" />
    <engine name="ios" spec="^4.5.2" />
    <engine name="browser" spec="^5.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-admobpro" spec="^2.29.24" />
    <plugin name="cc.fovea.cordova.purchase" spec="^7.0.2">
        <variable name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAkY5+td5i0VKwZN6jY062OcD0dRlK9ToIz4UhzSgPfWMA8hQcSDBLhU1zoThhMvvCXd3mjmYLDxM7c92la29KtLm5Z+QNNJEDYxlIUfkvc9eRi8Z3O6mmGtUCmFB8WGS35CvtNdhzxqRIgC9Y1WO1S1Gvzy7Xi+o//5fRPBOKOoN7qZggkHXWZnGy/2QUiwykI/i1Z3uURsPAC9R+bPiUa2B0mAcGhJQOPOAULZsq2HXatqpIz/KUGZyBriA3nxmfu56DjIXhH0VG74NSaXemj5jdjiAM2t2k33pd28RYtDib9aHbUn936QMTI9jMap8xCA7iZjH9HGer2E3dHRtxzQIDAQAB" />
    </plugin>
</widget>
