<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="10020" id="whitejaa.calc" version="1.0.12" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VGC Damage Calculator</name>
    <description>
        Pokémon damage calculator designed for the VGC format.
    </description>
    <author email="squirrelboy1225@gmail.com" href="http://jake-white.github.io">
        Jake White
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="27" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="www/splash/ios/Default@2x~universal~anyany.png" />
    </platform>
    <engine name="browser" spec="^5.0.1" />
    <engine name="ios" spec="^4.5.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-admobpro" spec="^2.29.24" />
    <plugin name="cordova-plugin-inapppurchase" spec="^1.2.0" />
</widget>
