.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

#reflectL, #reflectR, #lightScreenL, #lightScreenR {
  width: 50%;
}

#purchased {
  border: solid 1px #329832;
  background: #A5EDA7;
}

#settings_dialog, #credits_dialog {
  display: none;
}

#credits_dialog a {
  color: #337ab7;
}

.settingscheckbox {
  vertical-align: middle;
  padding: 5px;
}

#p1Tab:not(.tab-pane), #fieldTab:not(.tab-pane), #p2Tab:not(.tab-pane) {
  float: left;
  display: inline-block;
  width: 33%;
}


.hiddenTab {
  display:none;
}

.plus, .minus {
  text-align: center;
  width: 1.5em;
  margin: 0.4em;
}

table {
  max-width: 100%;
  display: inline-block;
}

/* general page styling */
body {
    width: 100%;
    font: 10pt Verdana, sans-serif;
    background-color: #bbeedd;
}
fieldset {
    float: left;
    background-color: #ddffee;
}
legend {
    font-weight: bold;
}
th, td {
    padding: 0;
}
th {
    font-size: 0.8em;
}

.title-text {
    font-weight: bold;
    font-size: 1em;
    width: 100%;
}

.before-title {
  padding: 0em;
  padding-bottom: 3em;
  background-color: #1e3864;
}
.yeartag {
    margin-right: 1em;
    margin-left: 0.5em;
    vertical-align:middle
}
.big-text {
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em 0;
}
.small-text {
    font-size: 0.8em;
}
.panel {
    width: 90%
    clear: both;
    display: inline-block;
}
.poke-info {
    width: 100%;
}
.field-info {
    width: 90%
}
.generations {
    padding-left: 1em;
}

/* general button styling */
.custombtn {
    text-align: center;
    border: solid 1px #aaaaaa;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    cursor: pointer;
    color: #555555;
    background: #B1BAD0;
    display: inline-block;
    width: 5em;
    border-radius: 8px;
}
.btn-wide {
    width: 7em;
}
.btn-xwide {
    width: 8em;
}
.btn-xxwide {
    width: 9em;
}
.btn-xxxwide {
    width: 10em;
}
.btn-small {
    width: 4em;
}
.btn-xsmall {
    width: 1em;
}
.btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-mid {
    border-radius: 0;
}
.btn-input:checked + .custombtn {
    font-weight: bold;
    color: #111111;
    background: #DFE3EC;
}
.btn-input[type="radio"]:checked + .custombtn {
    cursor: default;
}
.btn-input {
    margin: 10px;
    display: none;
    padding: 5px;
    outline: solid black 1px;
}
.btn-input:disabled + .custombtn  {
    color: #999999;
}
.btn-group {
    display: inline-block;
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}

.locked-move:checked + .custombtn  {
    background: #ffff99;
}

/* header */
.move-result-group {
    width: 100%
    margin: 1em 0 11.5em;
}
.move-result-subgroup {
    width: 100%;
}
.move-result-group .custombtn  {
    margin-right: 1em;
}
.main-result-group {
    margin: 2em 0 1em;
}
.result-move-header {
    font-size: 0.8em;
    font-weight: bold;
    margin: 5px;
}
.result-move label {
  padding: 5px;
  outline: solid black 1px;
}

/* pokemon info */
.poke-info label {
    display: inline-block;
    width: 6em;
}
.poke-info input:not([type]), .poke-info input[type="text"],
 .poke-info evs, .poke-info ivs, .poke-info base, .poke-info level, .poke-info move-bp {
    display: inline-block;
    width: 2.5em;
}
.poke-info input[type="number"] {
    display: inline-block;
    width: 3em;
}
.info-group {
    align-self: center;
    margin: 1em 0;
}
.set-selector {
    align-self: center;
}
.info-selectors select {
    align-self: center;
    width: 70%;
}
select.toxic-counter {
    width: 4.5em;
}
.move-selector, .move-bp, .move-type, .move-cat, .move-hits {
    font-size: 0.9em;
}
.move-selector {
    width: 9.0em;
}
.poke-info input.move-bp {
    width: 2em;
}
.move-cat, .move-hits {
    width: 4em;
}
.poke-info .crit-btn {
    font-size: 0.8em;
    padding: 1px;
    width: 4em;
    margin-left: 1px;
    margin-right: 1px;
}
.poke-info .x-btn {
    font-size: 0.8em;
    padding: 1px;
    width: 4em;
    margin-left: 1px;
    margin-right: 1px;
}
.poke-info .ev-total {
    font-size: 0.8em;
}

.poke-info .underLimit {
    color: #000000;
}

.poke-info .overLimit {
    color: #CC0000;
}

/* field info */
.field-info .custombtn  {
    font-size: 0.8em;
}

.hide {
    display: none;
}

/* select2 overrides */
.small-select.select2-container .select2-choice {
    font-size: 0.9em;
    height: 18px;
    line-height: 18px;
}
.small-select.select2-container .select2-choice .select2-arrow b {
    background-position: 0 -4px;
}
.small-select.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px -4px;
}




#autolevel {
    float: right;
    color: #fff;
    text-decoration: none;
}
.onoffswitch {
  float: right;
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: inline-block;

}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 8px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "50";
    padding-left: 10px;
    background-color: #1e3864; color: #fff;
}
.onoffswitch-inner:after {
    content: "100";
    padding-right: 10px;
    background-color: #F3F3F3; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #999999; border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
